html {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}



.pane.pane-main {
  background-color: #F0F0F0;
  border-right: 1px solid #D9D9D9;
  top:0;
  bottom:0;
  left:0;
  right: 70%;
  position: absolute;
  overflow-y: auto;
}

.pane.pane-list {
  top:0;
  bottom:0;
  left:30%;
  right:30%;
  position: absolute;
  overflow-y: auto;
}

.pane.pane-data {
  background-color: #F0F0F0;
  border-right: 1px solid #D9D9D9;
  top:0;
  bottom:0;
  left:70%;
  right: 0;
  position: absolute;
  overflow-y: auto;
}

.c-pointer {
  cursor: pointer;
}


@media all and (max-width: 499px) and (min-width: 0) {

  .pane.pane-main {
    display: none;
  }


  .pane.pane-list {
    display: none;
  }


  .pane.pane-data {
    left:0;
    right:0;
  }

}

@media all and (max-width: 799px) and (min-width: 500px) {

  .pane.pane-main {
    display: none;
  }


  .pane.pane-list {
    left:0;
    right:50%;
  }


  .pane.pane-data {
    left:50%;
    right: 0;
  }

}


@media all and (max-width: 999px) and (min-width: 800px) {

  .pane.pane-main {
    left:0;
    right: 75%;
  }


  .pane.pane-list {
    left:25%;
    right:40%;
  }


  .pane.pane-data {
    left:60%;
    right: 0;
  }

}

@media all and (min-width: 1000px) {

  .pane.pane-main {
    left:0;
    right: 80%;
  }


  .pane.pane-list {
    left:20%;
    right:50%;
  }


  .pane.pane-data {
    left:50%;
    right: 0;
  }

}



.hoverable:hover {
  background-color: rgb(248, 249, 250)!important;
}
